body {
        margin: 0;
        font-family: sans-serif;
      }

      .menu {
        display: inline-flex;
        flex-direction: column;
      }

      .menuItem {
        background-color: rgb(138, 206, 218);
        padding: 8px;
        margin: 2px 0;
        border-radius: 0 4px 4px 0;
      }
    
